:root {
  --antique: #faebd7;
  --orchid: #DA70D6;
  --blueviote: #8A2BE2;}

header h1 {
  font-size: 350%;
  padding: 25px;
  background-color: var(--orchid);
}

nav {
  padding: 20px; 
  float: right;
  background-color: var(--antique);
   line-height: 27px
}

nav a {
  text-decoration: none;
  padding: 20px;
  color: var(--blueviote);
  margin-right: 10px;
}

.hero-banner {
  background: var(--antique);
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.hero-banner h2 {
  margin: 0;
  padding: 20 px;
  font-size: 2.3rem;
  color: slateblue;
  line-height: 1;
  display: inline;
}

.page-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: tan;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactinfo address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.contactinfo address {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contactinfo address a {
  padding: 5px;
  font-size: 1.3rem;
  font-style: normal;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  display: inline-block;
}



@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
